.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.chessBoard {
  display: flex;
  flex-wrap: wrap;
  max-width: 850px;
  max-height: 850px;
}

.chessBoard__square {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.chessBoard__square--black {
  border: 1px solid white;
  background-color: black;
}

.chessBoard__square--isOver {
  border: 3px solid green;
  box-sizing: border-box;
}


.chessBoard__piece {
  font-size: 64px;
  color: brown;
}

.chessBoard__piece--isDragging {
  background-color: yellow;
}

